<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>CIIE APEX 2018 - CHINA</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
		<table align="center" background="http://vps10995.publiccloud.com.br/apex/content/images/background-GIF-v2.png" width="1890" height="1024">
			<tr>
				<td>
					<p align="center">
						<img th:src="@{|http://vps10995.publiccloud.com.br/apex/image/cadastro/gif/link/${cadastro.id}|}" width="500" height="500"  />
					</p>
					<p>
						
					</p>
				</td>
			 </tr>
		</table>
    </body>
</html>