<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cadastro">
            <h2><span>Cadastro</span> {{cadastro.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{cadastro.nome}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{cadastro.email}}</span>
                </dd>
                <dt><span>Gif</span></dt>
                <dd>
                    <div *ngIf="cadastro.gif">
                        <a (click)="openFile(cadastro.gifContentType, cadastro.gif)">
                            <img [src]="'data:' + cadastro.gifContentType + ';base64,' + cadastro.gif" style="max-width: 100%;" alt="cadastro image"/>
                        </a>
                        {{cadastro.gifContentType}}, {{byteSize(cadastro.gif)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cadastro', cadastro.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
